.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image{
    height: 10vw;
    margin-top: 2vw;
    border-radius:5px ;
}

.profile-display-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw 0 2vw 0;
    border: 1px black solid;
    border-radius: 10px;
    background-color: rgb(213, 255, 255);
}

.profile-information-entity{
    margin: 1vw;
}
.profile-action-buttons{
    display: flex;
}

@media(max-width: 880px){
    .profile-image{
        height:40vw;
    }
    .profile-information-entity{
        font-size: 4vw;
        margin: 3vw;
    }
    .profile-display-box{
        margin: 25vw 0 5vw 0;
    }
}